* {margin: 0; padding: 0; box-sizing: border-box;}
.wrapper {width: calc(100% - 0%); height: 100vh; overflow: hidden; display: flex; flex-wrap: wrap;}
.sidebar {width: calc(100% - 80%); height: 100vh; background-color: rgba(35, 35, 35, 0.9); display: flex; flex-wrap: wrap; align-items: center; padding: 10px; flex-direction: column;}
.display {width: calc(100% - 20%); height: 100vh; overflow: auto; padding: 10px;}
.main-container {width: calc(100% - 0%); height: auto; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; border: 1px dashed gray;}
.sub-container {width: calc(100% - 0%); height: calc(100% - 0%); font-size: 60px; font-weight: bold; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; background-color: gray;}
.adddiv {padding: 10px 25px; background-color: orange; font-weight: bold; border: none; text-align: center; width: 100%;}
.adddiv:focus {outline: none;}
.sub-container > span {background-color: orange; padding: 5px; cursor: pointer; border-radius: 50%; height: 50px; width: 50px; display: flex; justify-content: center; align-items: center;}
.half-box {width: calc(100% - 50%);}