* {margin: 0; padding: 0; box-sizing: border-box;}
.wrapper {width: calc(100% - 0%); height: 100vh; overflow: hidden; display: flex; flex-wrap: wrap;}
.sidebar {width: calc(100% - 80%); height: 100vh; background-color: rgba(35, 35, 35, 0.9); display: flex; flex-wrap: wrap; align-items: center; padding: 10px; flex-direction: column;}
.display {width: calc(100% - 20%); height: 100vh; overflow: auto; padding: 10px;}
.main-container {width: calc(100% - 0%); height: auto; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; border: 1px dashed gray;}
.sub-container {width: calc(100% - 0%); height: calc(100% - 0%); font-size: 60px; font-weight: bold; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; background-color: gray;}
.addDiv {cursor: pointer; margin: 10px 0px; padding: 10px 25px; background-color: orange; font-weight: bold; border: none; text-align: center; width: 100%;}
.addDiv:focus {outline: none;}
.addDiv:hover {background-color: rgb(255, 191, 73);}
.sub-container > span {background-color: orange; padding: 5px; cursor: pointer; border-radius: 50%; height: 50px; width: 50px; display: flex; justify-content: center; align-items: center;}
.half-box {width: calc(100% - 50%);}

/* Export As Html (Button) Style */
    .export {cursor: pointer; margin: 10px 0px; padding: 10px 25px; background-color: tomato; font-weight: bold; border: none; text-align: center; width: 100%;}
    .export:focus {outline: none;}
    .export:hover {background-color: rgb(255, 119, 95);}
/* EndExport */



/* The Modal (background) */
.modal {
  display: none; position: fixed; z-index: 1; 
  right: 0;top: 0;width: 80%; height: 100%; margin-left: auto;overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);}

/* Modal Content/Box */
.modal-content {position: relative;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;flex-direction: column;background-color: rgba(35, 35, 35, 0.9);color: skyblue;font-size: 24px;margin: 15% auto;padding: 70px 20px;border: 1px solid #888;width: 50%; border-radius: 15px;}

/* The Close Button */
.close {position: absolute; color: black; top: 15px; right: 15px; margin-left: auto; font-size: 18px; font-weight: bold; background-color: skyblue; padding: 5px 10px; border-radius: 15px;}

.close:hover,
.close:focus {color: black; text-decoration: none; cursor: pointer;}

.modalSave {margin-top: 15px; border: none; background-color: orange; padding: 7px 30px; border-radius: 15px; color: black; font-size: 18px; text-align: center;}
.modalSave:focus {outline: none;}